# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/x64/Debug
/Basic Calculator App/Basic Ca.a6a66982/x64/Debug/Basic Ca.a6a66982.tlog
/Basic Calculator App/x64/Debug/Basic Ca.a6a66982.tlog
/Basic Calculator App/x64/Debug
/Basic Calculator App/Basic Ca.a6a66982/x64/Debug
/.vs/Basic Calculator App
